$gray-color: #1e1e1e;
$black-dr-color: #010101;
$black-tw-color: #252526;
$black-bt-color: #212322;
$gray-bg-color: #eff3f5; ///====== світла тема
$gray-tx-color: #525151;
$gray-tw-color: #d0cccc; ///====== темна тема
$white-color: #efefef;
$white-tw-color: #ffffff;

$blue-bg-color: #0e2841; ///====== темна тема
$blue-bt-color: #0765a3;
$blue-br-color: #0f8bba;
$blue-tx-color: #054485;
$azure-bg-color: #8ed5f1;
$azure-tx-color: #0fbae3;
$green-bg-color: #21df93;
$green-tw-color: #07663d;
$yellow_color: #bd9135;
$yellow-tw-color: #c59014;
$yellow-bg-color: #babc21;
$red-fs-color: #f53131;
$red-color: #da4167;
